<div class="container">
    <main>
       
            <h1>Parking Lot List</h1>
            <div class="sub-users">
            <table>
                <thead>
                    <tr>
                        <th>Parking Lot ID</th>
                        <th>Location</th>
                        <th>Capacity</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.userName}}</td>
                        <td>{{user.lastLogin}}</td>
                        <td>{{user.netProfit}}</td>
                        <td>{{user.validBet}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>