<html>
    
<body>
    <div class="container">
        <div class="login">
            <div class="toggle">
                <div class="logo">
                    <img src="/wolf.jpg">
                    <h1>Smart<span class="text-muted">Park</span></h1>
                </div>
                <h2>Sign In</h2>
                <form>
                    <p *ngIf="validationErrors.length > 0">
                        <small>{{validationErrors}}</small>
                    </p>
                    <div>
                        <mat-form-field class="field">
                            <mat-label>Username</mat-label>
                            <input matInput type="text" id="userName" name="userName" required
                            [(ngModel)]="userName" />
                          </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="field">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide() ? 'password' : 'text'" 
                            id="password" name="password" required
                            [(ngModel)]="password"/>
                            <button
                              mat-icon-button
                              matSuffix
                              (click)="clickEvent($event)"
                            >
                            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
                    </div>
                    <div class="d-grid gap-2">
                        <button mat-fab extended [disabled]="isSubmitting || (password.length <= 0 || userName.length <= 0)"
                            (click)="loginAction()" type="button">Login</button>
                        <p class="text-center">Don't have account? Please contact the admin!</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>